@import "common.scss";
@import "display.scss";
@charset "UTF-8";

:root {
  font-size: 16px;
}
body {
  color: #343434;
  font-family: "Sarabun", sans-serif;
  min-width: 100%;
  max-width: 100vw;
  min-height: 100vh;
  font-size: ptr(14);
  line-height: ptr(23);
  scroll-behavior: smooth;
}
.wrp {
  margin: auto;
  width: ptr(1366);
  max-width: 100vw;
}
.commonBanner {
  display: block;
  text-align: center;

  img {
    width: 100%;
    height: auto;
  }
}
img {
  transition: 0.3s all ease-in-out;

  &:hover {
    filter: brightness(110%);
  }
}
.openSub {
  display: none;
}
.openList {
  display: none;
}
.name {
  &:hover {
    color: $color-hover;
  }
}
.tvmp {
  display: flex;
  justify-content: center;
  span {
    display: block;
    &.in {
      -webkit-animation: fadeIn 0.5s forwards;
      animation: fadeIn 0.5s forwards;
    }
    // &.out {
    //   -webkit-animation: ah-rotate-3-out 0.6s forwards;
    //   animation: ah-rotate-3-out 0.6s forwards;
    // }
  }
}

#header {
  background: #fff;
  padding: ptr(7) 0;
  position: sticky;
  top: 0;
  left: 0;
  z-index: 999999;
  .wrp {
    display: flex;
    justify-content: space-between;
    #menu {
      ul {
        min-height: 100%;
        display: flex;
        padding: 0;
        margin: 0;
        list-style: none;
        li {
          position: relative;
          padding: 0 ptr(30);
          display: flex;
          align-items: center;
          a {
            display: block;
            font-weight: bold;
            font-size: ptr(18);
          }
          ul {
            padding: ptr(10) 0;
            position: absolute;
            top: 110%;
            left: 0;
            opacity: 0;
            transition: 0.3s all ease-in-out;
            flex-direction: column;
            border-radius: ptr(7);
            background: #fff;
            min-width: ptr(287);
            visibility: hidden;
            li {
              padding: 0;
              a {
                padding: ptr(10) ptr(20);
                width: 100%;
                font-weight: normal;
              }
              &:hover {
                > a {
                  background: #eff3f6;
                  color: inherit;
                }
              }
              ul {
                left: calc(100% + #{ptr(4)});
                top: ptr(-10) !important;
              }
            }
          }
          &:hover {
            > ul {
              top: calc(100% + ptr(12));
              opacity: 1;
              visibility: visible;
            }
          }
          #searchForm {
            display: none;
          }
          &.active {
            color: $color-hover;
          }
        }
        > li {
          &:after {
            content: "";
            width: 100%;
            height: ptr(12);
            top: 100%;
            position: absolute;
          }
          li {
            &:after {
              content: "";
              width: ptr(4);
              height: 100%;
              left: 100%;
              position: absolute;
            }
          }
        }
      }
    }
  }
}
#toggleSearch {
  width: ptr(13);
  text-align: center;
  &.active {
    i::before {
      content: "\f00d";
    }
  }
}
#searchForm {
  position: absolute;
  top: 120%;
  right: 0;
  background: #fff;
  border-radius: 5px;
  overflow: hidden;
  width: ptr(449);
  height: ptr(37);
  border: 1px solid #cccccc;
  > div {
    display: flex;
    .ipt {
      flex: 1;
      border: none;
      outline: none;
      height: ptr(35);
      padding: 0 ptr(10);
    }
    .btnSearch {
      height: ptr(37);
      width: ptr(40);
      display: inline-flex !important;
      align-items: center;
      justify-content: center;
      &:hover {
        background: $color-hover;
        color: #fff;
      }
    }
  }
}

#slide {
  position: relative;
  .wImage {
    pointer-events: none;
    width: 100%;
    &::before {
      padding-bottom: wImage(850, 1920);
    }
    video {
      width: 100%;
      height: 100%;
    }
  }
  #iconService {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
  }
}
#iconService {
  position: relative;
  background: #073d9f90;
  .overlay {
    position: absolute;
    bottom: calc(100% + #{ptr(40)});
    display: flex;
    justify-content: center;
    width: 100%;
    gap: ptr(50);
    .btnBanner {
      font-weight: 400;
      font-size: ptr(20);
      color: #fff;
      padding: ptr(10) ptr(40) ptr(12) ptr(40);
      border: 2px solid #ffffff;
      min-width: ptr(300);
      text-align: center;
      &:first-child {
        background: #0ea8cc;
        border-color: #0ea8cc;
      }
      &:hover {
        background: $color-hover;
        border-color: $color-hover;
      }
    }
  }
  .group {
    padding: ptr(30) 0;
    .item {
      border-left: 1px solid #2f5aa7;
      border-right: 1px solid #2f5aa7;
      > a {
        display: flex;
        justify-content: center;
        flex-direction: column;
        align-items: center;
        padding: ptr(5) 0;
        .icon {
          position: relative;
          top: 0;
          transition: 0.2s all linear;
          img {
            height: ptr(52);
          }
        }
        .text {
          font-size: ptr(20);
          color: #cfeef5;
          margin-top: ptr(10);
        }
      }
      &:hover {
        > a {
          .icon {
            animation: 3s wobble infinite;
            filter: brightness(0) invert(1);
          }
          .text {
            color: #fff;
          }
        }
      }
    }
    .owl-nav {
      @extend %owl-nav;
      .owl-next,
      .owl-prev {
        width: ptr(30);
        height: ptr(70);
        font-size: ptr(20);
        background: #11111160;
        color: #99a9cb;
        &:hover {
          background: #11111190;
        }
      }
    }
  }
}
.homeService {
  margin: 50px 0;
  .wrp {
    display: flex;
    justify-content: space-between;
    .left {
      width: percent(543);
      padding: ptr(25);
      background: #f7f9fb;
      display: flex;
      flex-direction: column;
      gap: ptr(20);
      .item {
        display: flex;
        justify-content: space-between;
        align-items: flex-start;
        .wImage {
          width: percent(247, 500);
          &::before {
            padding-bottom: wImage(157, 247);
          }
        }
        .info {
          flex: 1;
          padding-left: ptr(18);
          .top {
            display: flex;
            justify-content: space-between;
            margin-bottom: 10px;
            align-items: baseline;
            .cateName {
              font-weight: 500;
              color: $color-hover;
              flex: 1;
              &:hover {
                color: $color-hover2;
              }
            }
            .date {
              color: #737373;
              font-weight: 500;
              white-space: nowrap;
            }
          }
          .name {
            display: block;
            font-size: ptr(18);
            line-height: ptr(27);
            font-weight: bold;
          }
        }
      }
    }
    .right {
      width: percent(788);
      .parent {
        &:not(:last-child) {
          margin-bottom: ptr(25);
        }
        .lstCate {
          padding-bottom: ptr(7);
          display: flex;
          align-items: baseline;
          justify-content: space-between;
          border-bottom: 1px solid $color-hover;
          margin-bottom: ptr(25);
          .cateLeft {
            font-weight: bold;
            font-size: ptr(28);
            color: $color-hover;
            &:hover {
              color: $color-hover2;
            }
          }
          .cateRight {
            padding: 0;
            margin: 0;
            list-style: none;
            display: flex;
            flex: 1;
            padding-left: ptr(20);
            li {
              flex: auto;
              > * {
                display: block;
                text-align: center;
              }
            }
          }
        }
        .group {
          display: flex;
          justify-content: space-between;
          .item {
            display: flex;
            align-items: flex-start;
            justify-content: space-between;
            &:not(:last-child) {
              padding-bottom: ptr(14);
              margin-bottom: ptr(14);
              border-bottom: 1px solid #cccccc;
            }

            .wImage {
              width: percent(247, 473);
              margin-right: ptr(14);
              &:before {
                padding-bottom: wImage(162, 247);
              }
            }
            .info {
              flex: 1;
              .name {
                display: block;
                font-weight: bold;
                font-size: ptr(16);
                line-height: ptr(25);
              }
              .cont {
                margin-top: ptr(20);
              }
            }
          }
          .main {
            width: percent(487, 789);
            padding-right: ptr(12);
            border-right: 1px solid #ccc;
          }
          .other {
            flex: 1;
            padding-left: ptr(12);
          }
        }
      }
    }
  }
}
#videoHome {
  background: #4a4a4a;
  padding: ptr(30) 0;
  margin-bottom: ptr(50);
  .cateName {
    text-transform: uppercase;
    color: #fff;
    font-weight: bold;
    font-size: ptr(30);
    margin-bottom: ptr(30);
  }
  .content {
    display: flex;
    justify-content: space-between;
    position: relative;
    .item {
      .wImage {
        &::before {
          padding-bottom: wImage(9, 16);
        }
        .overlay {
          position: absolute;
          top: 0;
          left: 0;
          pointer-events: none;
          width: 100%;
          height: 100%;
          z-index: 5;
          display: flex;
          align-items: center;
          justify-content: center;
          transition: 0.3s all linear;
          img {
            width: ptr(168);
          }
        }
      }
      .name {
        display: block;
        font-size: ptr(16);
        color: #fff;
        font-weight: bold;
        line-height: ptr(25);
      }
      &:hover {
        .overlay {
          background: rgba(0, 0, 0, 0.5);
          img {
            opacity: 1 !important;
          }
        }
      }
    }
    .left {
      width: percent(836);
      .item {
        .name {
          font-size: ptr(22);
          line-height: ptr(33);
          margin-top: ptr(20);
        }
      }
    }
    .right {
      position: absolute;
      right: 0;
      top: 0;
      height: 100%;
      width: percent(467);
      overflow-y: auto;
      padding-right: ptr(20);
      .item {
        &:not(:last-child) {
          margin-bottom: ptr(30);
          padding-bottom: ptr(30);
          border-bottom: 1px solid #c3c5c6;
        }
        display: flex;
        justify-content: space-between;
        .wImage {
          width: percent(206, 430);
          .overlay {
            img {
              width: ptr(50);
              opacity: 0;
            }
          }
        }
        .name {
          flex: 1;
          padding-left: ptr(20);
        }
      }

      &::-webkit-scrollbar {
        width: 6px;
      }

      /* Track */
      &::-webkit-scrollbar-track {
        background: #404040;
      }

      /* Handle */
      &::-webkit-scrollbar-thumb {
        background: #9c9d9e;
        border-radius: 100px;
      }

      /* Handle on hover */
      &::-webkit-scrollbar-thumb:hover {
        background: #555;
      }
    }
    .name a:hover {
      color: #0ea8cc;
    }
  }
}
#homeService2 {
  margin-top: ptr(50);
  .wrp {
    display: flex;
    flex-wrap: wrap;
    gap: ptr(30);
    .parent {
      width: calc((100% - #{ptr(60)}) / 3);
      background: #f7f9fb;
      padding: ptr(20);
      .cateName {
        display: block;
        font-weight: bold;
        font-size: 26px;
        margin-bottom: ptr(12);
        color: $color-hover;
        &:hover {
          color: $color-hover2;
        }
      }
      .group {
        .item {
          &:not(:last-child) {
            margin-bottom: ptr(20);
            padding-bottom: ptr(20);
            border-bottom: 1px solid #cccccc;
          }
          .wImage {
            margin-bottom: ptr(25);
            &::before {
              padding-bottom: wImage(241, 395);
            }
          }
          .name {
            display: block;
            font-weight: bold;
            font-size: ptr(20);
            line-height: ptr(30);
          }
          .cont {
            font-size: ptr(18);
            line-height: ptr(27);
            margin-top: ptr(10);
          }
        }
      }
    }
  }
}
#quesAns {
  margin: ptr(50) 0;
  .nameCate {
    position: relative;
    font-size: ptr(40);
    border-bottom: 1px solid #666666;
    display: flex;
    justify-content: center;
    align-items: flex-end;
    margin-bottom: ptr(50);
    a {
      display: inline-block;
      margin-bottom: ptr(-10);
      padding: 0 ptr(50);
      font-weight: bold;
      background: #fff;
    }
  }
  .group {
    display: flex;
    flex-wrap: wrap;
    gap: ptr(18) ptr(80);
    .name {
      width: calc((100% - #{ptr(160)}) / 3);
      border: 1px solid #0ea8cc;
      border-radius: 7px;

      a {
        display: flex;
        height: 52px;
        font-size: ptr(18);
        font-weight: 500;
        align-items: center;
        justify-content: center;
        &:hover {
          background: $color-hover2;
          color: #fff;
        }
      }
    }
  }
}
#staffHome {
  margin-top: ptr(50);
  position: relative;
  .nameCate {
    font-size: ptr(50);
    font-weight: bold;
    position: absolute;
    left: calc(#{percent(695)} + #{ptr(40)});
    top: ptr(60);
  }
  .group {
    .item {
      display: flex;
      justify-content: space-between;
      align-items: flex-end;
      .wImage {
        width: percent(695);
        &:before {
          padding-bottom: wImage(603, 695);
        }
      }
      .info {
        flex: 1;
        padding: ptr(40);
        .name {
          color: $color-hover;
          font-size: ptr(40);
          a {
            display: flex;
            flex-direction: column;
            span {
              &:first-child {
                font-weight: 500;
                margin-bottom: ptr(10);
              }
              &:last-child {
                font-weight: bold;
              }
            }
          }
        }
        .cont {
          line-height: ptr(32);
          font-size: ptr(22);
          margin-top: ptr(30);
        }
        .plug_view {
          margin-top: ptr(45);
          display: flex;
          align-items: center;
          justify-content: space-between;
          .plug {
            display: flex;
            align-items: center;
            gap: 15px;
            a {
              width: ptr(48);
              height: ptr(48);
              display: flex;
              align-items: center;
              justify-content: center;
              font-size: ptr(25);
              background: #6ecbe0;
              color: #fff;
              border-radius: 50%;
              &:hover {
                background: $color-hover;
              }
            }
          }
          .btnView {
            width: ptr(175);
            height: ptr(60);
            display: inline-flex;
            align-items: center;
            justify-content: center;
            border: 1px solid $color-hover2;
            color: $color-hover2;
            font-size: ptr(25);
            &:hover {
              background: $color-hover;
              border-color: $color-hover;
              color: #fff;
            }
          }
        }
      }
    }
    .owl-nav {
      @extend %owl-nav;
      .owl-prev,
      .owl-next {
        width: ptr(52);
        height: ptr(122);
        background: #11111160;
        font-size: ptr(40);
        color: #d9d7d4;
        &:hover {
          background: #11111190;
        }
        &.owl-next {
          left: calc(#{percent(695)} - #{ptr(52)});
          right: auto;
        }
      }
    }
  }
}
#introduce {
  .wrp {
    display: flex;
    justify-content: space-between;
    .left {
      padding: ptr(40);
      background: #f7f9fb;
      width: percent(695);
      display: flex;
      justify-content: center;
      flex-direction: column;
      .cateName {
        font-weight: bold;
        font-size: ptr(50);
        display: block;
        margin-bottom: ptr(30);
      }
      .cont {
        line-height: ptr(32);
        font-size: ptr(22);
      }
      .lstBtn {
        margin-top: ptr(60);
        display: flex;
        justify-content: space-between;
        a {
          display: flex;
          align-items: center;
          justify-content: center;
          border: 2px solid $color-hover2;
          color: $color-hover2;
          height: ptr(62);
          min-width: ptr(175);
          font-size: ptr(25);
          font-weight: 500;
          &.hsnl {
            min-width: ptr(363);
            background: $color-hover2;
            color: #fff;
            text-transform: uppercase;
            i {
              margin-right: ptr(30);
            }
          }
          &:hover {
            background: $color-hover;
            color: #fff;
            border-color: $color-hover;
          }
        }
      }
    }
    .wImage {
      flex: 1;
      &::before {
        padding-bottom: wImage(603, 671);
      }
    }
  }
}
#customer {
  margin: ptr(50) 0;
  .cateName {
    position: relative;
    font-size: ptr(40);
    border-bottom: 1px solid #666666;
    display: flex;
    justify-content: center;
    align-items: flex-end;
    margin-bottom: ptr(30);
    a {
      display: inline-block;
      margin-bottom: ptr(-10);
      padding: 0 ptr(50);
      font-weight: bold;
      background: #fff;
      text-transform: capitalize;
    }
  }
  .group {
    .wImage {
      &:before {
        padding-bottom: 50%;
      }
    }
  }
}
#footer {
  background: url(../pic/bgFoot.png) top center no-repeat;
  background-size: cover;
  padding: ptr(25) 0 ptr(50) 0;
  .wrp {
    display: flex;
    color: #ffffff;
    .left {
      padding-right: ptr(60);
      line-height: ptr(30);
      .logo {
        display: block;
        margin-bottom: ptr(15);
      }
      .border {
        width: ptr(79);
        margin: ptr(20) 0;
        border-color: #ffffff70 !important;
      }
      .plug {
        display: flex;
        gap: 10px;
        a {
          width: ptr(44);
          height: ptr(44);
          border: 1px solid #fff;
          border-radius: 50%;
          color: #fff;
          font-size: ptr(22);
          display: flex;
          align-items: center;
          justify-content: center;
          &:hover {
            background: $color-hover2;
            border-color: $color-hover2;
          }
        }
      }
    }
    .right {
      flex: 1;
      display: flex;
      font-size: ptr(13);
      padding-top: ptr(20);
      .group {
        flex: 1;
        padding-right: ptr(20);
        .nameCate {
          font-size: ptr(18);
          font-weight: bold;
          text-transform: uppercase;
          margin-bottom: ptr(25);
          position: relative;
          padding-bottom: ptr(15);
          display: block;
          &::after {
            content: "";
            width: ptr(79);
            height: 1px;
            background: #fff;
            position: absolute;
            bottom: 0;
            left: 0;
          }
        }
        .list {
          padding: 0;
          margin: 0;
          list-style: none;
          li {
            margin-bottom: ptr(10);
            line-height: ptr(25);
            a {
              display: block;
              &:hover {
                color: $color-hover2;
              }
            }
          }
        }
        .workTime {
          border: 2px solid #fff;
          padding: ptr(15) ptr(20);
          margin-top: ptr(30);
        }
        .regis {
          margin-top: ptr(25);
          display: flex;
          align-items: center;
          gap: ptr(10);
          a {
            display: block;
            img {
              max-width: 100%;
            }
          }
        }
      }
    }
  }
}
#afterFoot {
  padding: ptr(13) 0 ptr(15) 0;
  display: flex;
  align-items: center;
  justify-content: center;
  color: #ffffff60;
  background: $color-hover;
}

#contactChat {
  position: fixed;
  display: flex;
  flex-direction: column;
  right: ptr(30);
  bottom: ptr(80);
  gap: ptr(15);
  a {
    display: block;
  }
  .hotline-ph-circle {
    width: calc(100% + #{ptr(30)});
    height: calc(100% + #{ptr(30)});
    top: ptr(-15);
    left: ptr(-15);
    position: absolute;
    background-color: transparent;
    -webkit-border-radius: 100%;
    -moz-border-radius: 100%;
    border-radius: 100%;
    border: 2px solid rgba(30, 30, 30, 0.4);
    opacity: 0.1;
    -webkit-animation: hotline-circle-anim 1.2s infinite ease-in-out;
    -moz-animation: hotline-circle-anim 1.2s infinite ease-in-out;
    -ms-animation: hotline-circle-anim 1.2s infinite ease-in-out;
    -o-animation: hotline-circle-anim 1.2s infinite ease-in-out;
    animation: hotline-circle-anim 1.2s infinite ease-in-out;
    -webkit-transition: all 0.5s;
    -moz-transition: all 0.5s;
    -o-transition: all 0.5s;
    transition: all 0.5s;
  }

  .hotline-phone {
    background-color: transparent;
    width: ptr(61);
    height: ptr(61);
    cursor: pointer;
    z-index: 200000 !important;
    -webkit-backface-visibility: hidden;
    -webkit-transform: translateZ(0);
    -webkit-transition: visibility 0.5s;
    -moz-transition: visibility 0.5s;
    -o-transition: visibility 0.5s;
    transition: visibility 0.5s;
    right: 0;
    top: 0;
    .hotline-ph-circle-fill {
      background-color: #fe3a4890;
      opacity: 0.75 !important;
    }
    .hotline-ph-img-circle {
      background-color: #fe3a48;
    }
    .hotline-ph-circle {
      border-color: #fe3a48;
      opacity: 0.5;
    }
  }

  .hotline-ph-circle-fill {
    width: calc(100% + #{ptr(20)});
    height: calc(100% + #{ptr(20)});
    top: ptr(-10);
    left: ptr(-10);
    position: absolute;
    background-color: #000;
    -webkit-border-radius: 100%;
    -moz-border-radius: 100%;
    border-radius: 100%;
    border: 2px solid transparent;
    opacity: 0.1;
    -webkit-animation: hotline-circle-fill-anim 2.3s infinite ease-in-out;
    -moz-animation: hotline-circle-fill-anim 2.3s infinite ease-in-out;
    -ms-animation: hotline-circle-fill-anim 2.3s infinite ease-in-out;
    -o-animation: hotline-circle-fill-anim 2.3s infinite ease-in-out;
    animation: hotline-circle-fill-anim 2.3s infinite ease-in-out;
    -webkit-transition: all 0.5s;
    -moz-transition: all 0.5s;
    -o-transition: all 0.5s;
    transition: all 0.5s;
  }

  .hotline-ph-img-circle {
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: ptr(30);
    color: #fff;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    position: absolute;
    -webkit-border-radius: 100%;
    -moz-border-radius: 100%;
    border-radius: 100%;
    border: 2px solid transparent;
    opacity: 0.7;
    -webkit-animation: hotline-circle-img-anim 1s infinite ease-in-out;
    -moz-animation: hotline-circle-img-anim 1s infinite ease-in-out;
    -ms-animation: hotline-circle-img-anim 1s infinite ease-in-out;
    -o-animation: hotline-circle-img-anim 1s infinite ease-in-out;
    animation: hotline-circle-img-anim 1s infinite ease-in-out;
  }
}
@import "css_rwd_common.css";

@keyframes hotline-circle-anim {
  0% {
    transform: rotate(0) scale(0.5) skew(1deg);
    opacity: 0.1;
  }
  30% {
    transform: rotate(0) scale(0.7) skew(1deg);
    opacity: 0.5;
  }
  100% {
    transform: rotate(0) scale(1) skew(1deg);
    opacity: 0.1;
  }
}

@keyframes hotline-circle-fill-anim {
  0% {
    transform: rotate(0) scale(0.7) skew(1deg);
    opacity: 0.2;
  }
  50% {
    transform: rotate(0) scale(1) skew(1deg);
    opacity: 0.2;
  }
  100% {
    transform: rotate(0) scale(0.7) skew(1deg);
    opacity: 0.2;
  }
}

@keyframes hotline-circle-img-anim {
  0% {
    transform: rotate(0) scale(1) skew(1deg);
  }
  10% {
    transform: rotate(-25deg) scale(1) skew(1deg);
  }
  20% {
    transform: rotate(25deg) scale(1) skew(1deg);
  }
  30% {
    transform: rotate(-25deg) scale(1) skew(1deg);
  }
  40% {
    transform: rotate(25deg) scale(1) skew(1deg);
  }
  50% {
    transform: rotate(0) scale(1) skew(1deg);
  }
  100% {
    transform: rotate(0) scale(1) skew(1deg);
  }
}

@import "css_rwd.scss";
